{#
/**
 * @file
 * Overrides page.html.twig for main menu.
 *
 * @see template_preprocess_page()
 * @see page.html.twig
 *
 * Changes:
 *  - Added primary_menu region.
 *  - Removed unused default regions.
 *  - Removed logo, site_name.
 *  - Removed front_page conditions. This template is for front-page only.
 *  - Added hardcoded 'Tell me more' link.
 *  - Removed title, action_links
 */
#}
<div class="layout-container">

  {{ page.primary_menu }}

  <!-- Header -->
  <header class="section__intro">
    <div class="container">
      <div class="intro-text">
        {{ title_prefix }}
        <div class="intro-lead-in">{{ 'Welcome To Our Studio!'|t }}</div>
        {{ title_suffix }}
        <div class="intro-heading">{{ "It's nice to meet you"|t }}</div>
        <a href="#services" class="page-scroll btn btn-xl">{{ 'Tell Me More'|t }}</a>
      </div>
    </div>
  </header>

  {{ messages }}
  {{ page.help }}
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  {{ tabs }}

  {{ page.content }}

  {% if page.footer %}
    {{ page.footer }}
  {% endif %}

</div>{# /.layout-container #}
